
.hero-container {
    height: 80vh;

    background: linear-gradient(180deg, rgba(0, 0, 0, 0.70) 0%, rgba(0, 0, 0, 0.49) 100%), url("../images/Optimized-Images/Audi-RS7-Side-1.webp") no-repeat center center;
    background-size: cover;
    display: flex;
    flex-direction: column;
}

.hero-container .flex-container > svg path {
    fill: var(--Color-gray-100);
}

.hero-container .hero__content {
    display: flex;
    width: 100%;
    height: 100%;
    /*padding-bottom: 96px;*/
}

.hero__content  .text-content {
    padding-bottom: 96px;
    margin: 0;
}

.hero__content p {
    padding-bottom: 64px;
    color: var(--Color-gray-50);

}

/* ------------- Card Container ---------------- */
/*#cards-container {*/
/*    padding-top: 64px;*/
/*    display: flex;*/
/*    width: 100%;*/
/*    flex-wrap: wrap;*/
/*    gap: 32px;*/
/*}*/

.flex-card-container {
    padding-top: 64px;
    display: flex;
    justify-content: center;
    width: 100%;
    flex-wrap: wrap;
    gap: 32px;
}

/* Car Card */
.sales__card {
    display: inline-block;
    width: 258px;
    height: 286px;
    flex: 0 0 auto;
    /*margin-right: 32px;*/
    text-decoration: none;
    border: 1px solid var(--Color-gray-50);
    border-radius: 8px;
    overflow: hidden;
    /*background: var(--cta-card-gradient), url("/images/Mechanic/Mechanic-1.webp") no-repeat center center;*/
    /* DropShadow */
    box-shadow: 0 4px 25px 0 rgba(57, 47, 47, 0.10);
    transition: transform 0.5s ease, border-color 0.5s ease;
}


.sales__card:hover {

    border-color: var(--primary-color);
    transform: scale(1.03);

    h5 {
        color: var(--primary-color);
    }

    h6 {
        color: var(--primary-color);
    }

    .details p {
        color: var(--primary-color);
    }

    .brand svg path {
        fill: var(--primary-color);
    }
}

.card--layout {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100%;
    overflow: hidden;

    position: relative;

    h5 {
        padding: 8px 0;
        color: var(--Color-gray-900);
    }

    h6 {
        color: var(--Color-gray-900);
    }

    img {
        width: 100%;
        height: 100%;
        object-fit: cover;
        object-position: bottom;
    }

    .brand {
        width: 100%;
        padding: 8px 24px;
        position: absolute;
        bottom: 0;
        left: 0;
        z-index: 1000;
        background: linear-gradient(270deg, rgba(255, 255, 255, 0.00) 0%, #FFF 100%);

        svg path {
            fill: var(--Color-gray-900);
        }
    }
}

.car-card__text {
    padding: 0 24px;
}

.car-card__text .details {
    color: var(--Color-gray-400);
    padding: 8px 0;

}

/* ------------ Promo Banner */

.promo-banner {
    /*display: flex;*/
    width: 100%;
    /*height: 450px;*/
    height: 350px;


    /*background-image: url("/images/Optimized-Images/Audi-RS7-Car-Sales-Promo.webp");*/
    background-image: url("../images/Optimized-Images/Promo-Electro-1.webp");
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    position: relative;
}


.gradient {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    background-image: linear-gradient(0deg, rgba(0, 0, 0, 0.65) 0%, rgba(0, 0, 0, 0.65) 100%);

    z-index: 1;
}

.wrapper-desktop {
    position: relative;
    z-index: 2;

}


.promo-banner > h3 {
    z-index: 4;
    color: white;
}

.promo-banner {
    .wrapper-desktop {
        .heading {
            h3 {
                color: var(--Color-gray-100);
            }

            h2 {
                color: white;
            }
        }

        .support-text {
            color: var(--Color-gray-100);
        }
    }

    .flex-container {
        padding-top: 64px;
        justify-content: center;
    }
}

/* --------------- Services -------------- */

.services {
    background-color: var(--Color-gray-25);
}
.services .wrapper-desktop {
    width: 100%;
    background-color: var(--Color-gray-25);
}

.services .flex-container {
    align-items: flex-start;
    justify-content: center;
    padding-top: 64px;
}

.services .service-card {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 24px;
}

.services .service-card .icon-container svg path {
    fill: var(--Color-gray-400);
}

.services .service-card {
    .icon-container {
        margin-bottom: 20px;
    }

    h4 {
        padding-bottom: 12px;
    }
}

.cta-banner {
    /*display: flex;*/
    width: 100%;
    height: 450px;


    background-image: url("../images/Optimized-Images/Car-Sales-1.webp");

    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    position: relative;
}

