/* To de-render the mobile class for desktop */
@media only screen and (min-width: 769px) {


    .display-md-b {
        /* Display md/bold */
        font-family: var(--urbanist-font);
        font-size: 2.25rem;
        font-style: normal;
        font-weight: 700;
        line-height: 2.75rem; /* 122.222% */
        letter-spacing: -0.045rem;
    }

    .wrapper-desktop .support-text {
        .text-md-sb {

        }
    }

    .mobile-nav {
        display: none;
    }

    .mobile-cta { display: none }

    /* required resetting image */
    .hero-container {
        background: var(--hero-img-gradient), url("../images/Optimized-Images/Audi-A4-Avant-Front.webp") no-repeat center center;
        background-size: cover;
    }

    .mobile-service-explanation-section {
        display: none;
    }

    .model-card-container {
        padding-top: 48px;
    }

}


/* Mobile and Tablet Share Query */
@media only screen and (max-width: 768px) {
    /* 320px - 480px mobile devices */
    .display-md-b {
        /* Display sm/semibold */
        font-family: var(--urbanist-font);
        font-size: 1.875rem; /* 30px */
        font-style: normal;
        font-weight: 600;
        line-height: 36px; /* 120% */
        letter-spacing: -0.6px;
    }

    .hero-container .wrapper-desktop {
        padding: 0 20px;
    }

    .wrapper-desktop {
        margin: 0 auto;
        padding: 64px 20px;
    }

    /* ---------- Buttons ------------- */
    .cta-button-container button {
        /* Text xl/medium */
        font-family: var(--roboto-font);
        font-size: 1.25rem; /* 20px */
        font-style: normal;
        font-weight: 500;
        line-height: 30px; /* 150% */

        width: 100%;
        padding: 8px 12px;

    }

    .primary {
        padding: 8px 12px;
    }


    /* ------------- Navigation ------------- */
    .navbar {
        display: none;

    }

    .mobile-nav {
        /*display: block;*/
        z-index: 1000;
        position: fixed;
        top: 0;
        /*position: absolute;*/
        height: 80px;
        width: 100%;
        transition: transform 0.5s ease, background-color 0.5s ease;
        /*background-color: transparent;*/
    }

    /* ------------- Hero ------------- */
    .hero-container {
        padding: 0 20px;
        background-image: url("../images/Optimized-Images/Audi-A4-Avant-Front.webp");
        background-position: center;
        background-size: cover;
        position: relative;
    }

    .dark-overlay {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background-color: rgba(0, 0, 0, 0.2);

    }


    .hero__content h1 {
        /* Display md/bold */
        font-family: var(--urbanist-font);
        font-size: 2.25rem;
        font-style: normal;
        font-weight: 600;
        line-height: 2.75rem; /* 122.222% */
        letter-spacing: -0.045rem;
    }

    .hero__content p {
        /* Text lg/medium */
        font-family: var(--roboto-font);
        font-size: 1.125rem; /* 18px */
        font-style: normal;
        font-weight: 500;
        line-height: 28px; /* 155.556% */

        padding: 0 0 64px 0;
    }

    .hero-container {
        .cta-button-container {
            /*padding-top: 32px;*/
            padding: 32px 0 64px 0;
            width: 100%;
            display: flex;
            flex-direction: column;
            gap: 12px;
            z-index: 200;
        }
    }

    .cta-container .flex-container {
        width: 100%;
        justify-content: center;

        .cta-card {
            width: 100%;
            justify-content: center;

            .container {
                width: 100%;
            }
        }
    }


    /* --------------> Highlights */
    .highlight .flex-container {
        gap: 64px;
    }

    .highlight .grid-highlight {
        /*column-span: 1;*/
        display: flex;
        flex-direction: column;
        gap: 32px;

        img {
            height: 400px;
        }

    }

    .grid-highlight .text-container {
        padding: 0 20px;
    }

    /* Fullscreen Highlight Adjustments */
    .grid-highlight.fullscreen {
        width: 100%;
        height: 800px;
        background-position: center;

        .image-darkener-overlay .text-container {
            padding: 64px 20px;
            justify-content: flex-end;
        }
    }

    /* -------------> Available Models Section */
    .available-models .model-card-container {
        flex-direction: column;
        justify-content: center;
        padding-top: 48px;

        .model-card {
            width: 100%;
        }
    }

    /* -------------> CTA Banner */
    .cta-banner {
        height: 800px;
        justify-content: center;

        .wrapper-desktop {
            display: flex;
            flex-direction: column;
            height: 100%;
            justify-content: center;
        }

    }


    /* --------------> Footer */
    footer .flex-container {
        flex-direction: column;
    }
}