
.cta-banner {
    /*display: flex;*/
    width: 100%;
    height: 450px;


    /*background-image: url("/images/Optimized-Images/Audi-RS7-Car-Sales-Promo.webp");*/
    background-image: url("/images/Optimized-Images/Audi-RS7-Car-Sales-Promo.webp");
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    position: relative;
}


.gradient {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    background-image: linear-gradient(0deg, rgba(0, 0, 0, 0.65) 0%, rgba(0, 0, 0, 0.65) 100%);
    z-index: 1;
}

.wrapper-desktop {
    position: relative;
    z-index: 2;
}


.cta-banner > h3 {
    z-index: 4;
    color: white;
}

.cta-banner {
    .wrapper-desktop {
        .heading {
            h3 {
                color: var(--Color-gray-100);
            }

            h2 {
                color: white;
            }
        }

        .support-text {
            color: var(--Color-gray-100);
        }
    }

    .flex-container {
        padding-top: 64px;
        justify-content: center;
    }
}
