/* To de-render the mobile class for desktop */
@media only screen and (min-width: 769px) {


    .display-md-b {
        /* Display md/bold */
        font-family: var(--urbanist-font);
        font-size: 2.25rem;
        font-style: normal;
        font-weight: 700;
        line-height: 2.75rem; /* 122.222% */
        letter-spacing: -0.045rem;
    }

    .wrapper-desktop .support-text {
        .text-md-sb {

        }
    }

    .mobile-nav {
        display: none;
    }

    .mobile-cta { display: none }

    .mobile-service-explanation-section {
        display: none;
    }

}


/* Mobile and Tablet Share Query */
@media only screen and (max-width: 768px) {
    /* 320px - 480px mobile devices */

    .display-md-b {
        /* Display sm/semibold */
        font-family: var(--urbanist-font);
        font-size: 1.875rem; /* 30px */
        font-style: normal;
        font-weight: 600;
        line-height: 36px; /* 120% */
        letter-spacing: -0.6px;
    }

    .hero-container .wrapper-desktop {
        padding: 0 20px;
    }

    .wrapper-desktop {
        margin: 0 auto;
        padding: 64px 20px;
    }

    /* ---------- Buttons ------------- */

    .cta-button-container button {
        /* Text xl/medium */
        font-family: var(--roboto-font);
        font-size: 1.25rem; /* 20px */
        font-style: normal;
        font-weight: 500;
        line-height: 30px; /* 150% */

        width: 100%;
        padding: 8px 12px;

    }

    .primary  {
        padding: 8px 12px;
    }



    /* ------------- Navigation ------------- */
    .navbar {
        display: none;

    }

    .mobile-nav {
        /*display: block;*/
        z-index: 1000;
        position: fixed;
        top: 0;
        /*position: absolute;*/
        height: 80px;
        width: 100%;
        transition: transform 0.5s ease, background-color 0.5s ease;
        /*background-color: transparent;*/
    }
    /* ------------- Hero ------------- */

    .hero-container {
        padding: 0 20px;
        background-image: url("../images/Tesla/Tesla-Model-Y-Front.webp");
        position: relative;
    }

    .dark-overlay {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background-color: rgba(0, 0, 0, 0.55);

    }


    .hero__content h1 {
        /* Display md/bold */
        font-family: var(--urbanist-font);
        font-size: 2.25rem;
        font-style: normal;
        font-weight: 600;
        line-height: 2.75rem; /* 122.222% */
        letter-spacing: -0.045rem;
    }

    .hero__content p {
        /* Text lg/medium */
        font-family: var(--roboto-font);
        font-size: 1.125rem; /* 18px */
        font-style: normal;
        font-weight: 500;
        line-height: 28px; /* 155.556% */

        padding: 0;
    }

    .hero-container {
        .cta-button-container {
            /*padding-top: 32px;*/
            padding: 32px 0 64px 0;
            width: 100%;
            display: flex;
            flex-direction: column;
            gap: 12px;
            z-index: 200;
        }
    }

    /* -----------> Available Car Brand Section  */
    .car-brands {

        .flex-container {
            justify-content: space-around;
            gap: 24px;
            flex-wrap: wrap;

        }

        /* we have to resize the icons */
        .brand-icon {
            width: auto;
            height: 24px;
        }
    }

    /* --------------> CTA Section */

    /* Disable the Desktop CTA Section */
    .cta {
        display: none;
    }

    /* Enable the Mobile CTA Section */
    .mobile-cta {
        display: block;

        .flex-container {
            padding-top: 32px;
            gap: 32px;
        }
    }

    .mobile-cta-card {
        width: 100%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        gap: 20px;
        padding: 24px 0;

        .mobile-cta__header {
            display: flex;
            flex-direction: column;
            /*justify-content: center;*/
            align-items: center;
            gap: 12px;
        }
    }

    .btn-mobile {
        width: 100%;
        display: flex;
        justify-content: center;

    }

    /* -----------> Showroom Section */

    .showroom .showroom__text-content {
        text-align: center;
    }

    .showroom .grid-container {
        display: block;

        .cars-container .x-scroll-container {
            padding: 48px 0 0 0;
        }
    }

    /* ------------> Services Section */
    .services-in-depth .flex-container {
        gap: 32px;

    }


    /* --------------> Services Explanation Section */

    .service-explanation-section {
        display: none;
    }

    .mobile-service-explanation-section .flex-container {
        /*display: block;*/
    }

    .mobile-service-explanation-section .row {
        /*flex-direction: column;*/
        gap: 40px;
        height: auto;

    }

    .mobile-service-explanation-section .service-container {
        /*display: block;*/
        flex-direction: column;
        gap: 32px;

        .service-img {
            width: 100%;
            display: block;
        }

        .text-content {
            padding: 0;
        }
    }


    /* ----------------> CTA Banner */
    .cta-banner {
        height: 812px;

        .gradient {
            height: 100%;
        }

        .wrapper-desktop {
            display: flex;
            flex-direction: column;
            width: 100%;
            height: 100%;
            /*height: 100%;*/
        }

        .support-text {
            padding-top: 32px;
        }

        .flex-container {
            /*flex-direction: column;*/
            /*flex-grow: 1;*/
            padding-top: 0;
            /*width: 100%;*/
            height: 100%;
            /*justify-content: space-between;*/
            align-items: center;

            /*.cta-button-container*/
        }

        .cta-button-container {
            margin-top: auto; /* push button down in container */
            width: 100%;
            align-items: center;
        }

        .primary {
            width: 100%;
            text-align: center;
        }
    }

    /* ------------> News Section */
    .news .grid-container-news {
        padding-top: 48px;
        display: flex;
        flex-direction: column;
    }

    /* Reverse Order for third and fourth item so order is - Large (600px) -> Small (400px) ...  */
    .grid-container-news .news-card:nth-child(3) {
        order: 4;
        /*background-color: red;*/
    }

    .grid-container-news .news-card:nth-child(4) {
        order: 3;
    }

    .news-card.large {
        width: 100%;
        height: 600px;
    }

    .news-card.small {
        width: 100%;
        height: 400px;
    }

    footer .flex-container {
        flex-direction: column;
    }
}


/* ----------------------------------------------------------- */



/* Mobile Service Explanation Styling */
.mobile-service-explanation-section {

    .display-md-b {
        padding: 0 0 48px;
    }

    .flex-container {
        /*display: block;*/
        gap: 40px;
    }

    .row {
        display: flex;
        flex-direction: row;
        align-self: stretch;
        height: auto;
    }

    .service-container {
        /*width: 100%;*/
        display: flex;
        justify-content: center;
        gap: 32px;
        /*column-gap: 120px;*/
        /*row-gap: 130px;*/
        /*height: 256px;*/

    }


    .service-img {
        /*width: 455px;*/
        width: 100%;
        height: 100%;
        object-fit: cover;
        align-self: stretch;
        background: linear-gradient(180deg, rgba(0, 0, 0, 0.00) 47%, rgba(0, 0, 0, 0.50) 100%), lightgray 50% / cover no-repeat;
        border-radius: 8px;
    }

    .text-content {
        /*width: 50%;*/
        align-self: center;
        text-align: left;
        /*padding: 0 20px;*/


        h4 {
            color: var(--Color-gray-900);
            padding-bottom: 16px;
        }

        p {
            /*display: block;*/
            padding: 0;
            color: var(--Color-gray-400);
        }
        /*background-color: red;*/
    }


}
