:root {
    --horizontal-content-padding: 0 9.375rem;
    --primary-color: #1E213A;
    --urbanist-font: 'Urbanist', sans-serif;
    --roboto-font: 'Roboto', sans-serif;

    --base-font-size: 16px;
    --sm-font-weight: 600; /* 600 is typically considered semibold */
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    /*font-family: var(--roboto-font);*/
}



/* Hero Section */
.hero-container {
    height: 100vh; /* Set the height of the container */
    background-image: url('/images/Tesla/Tesla-Model-Y-Front.webp'); /* Path to your image */
    background-size: cover; /* Ensures the image covers the whole area */
    background-position: center; /* Aligns the image at the center */
    background-repeat: no-repeat; /* Prevents the image from repeating */
}

.hero__content {
    padding: var(--horizontal-content-padding);
    padding-top: 96px;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.5);
}