
.navbar {
    max-width: 1920px;
    z-index: 1000;
    position: fixed;
    top: 0;
    /*position: absolute;*/
    height: 80px;
    width: 100%;
    padding: var(--horizontal-content-padding);
    display: flex;
    align-items: center;
    justify-content: space-between;
    /*align-self: center;*/
    /*background-color: rgba(0, 0, 0, 0.5);*/
    color: white;
    transition: transform 0.5s ease, background-color 0.5s ease;

    ul {
        display: flex;
        list-style: none;
        gap: 32px;

        .link {
            /*font: var(--sm-font-weight) var(--base-font-size) var(--roboto-font);*/
            text-decoration: none;
            color: #fff;

            padding-bottom: 4px;
            /*border-bottom: 1px solid white;*/
        }
    }
}

.scroll-style {
    /*background-color: rgba(0, 0, 0, 0.7);*/
    background-color: var(--Color-gray-900);

    a {
        color: white;
    }
}


/* ---- Hover ---- */
.link:hover {
    color: var(--primary-color);
    border-bottom: 1px solid var(--primary-color);
}


.active-link {
    /*color: var(--primary-color);*/
    border-bottom: 1px solid var(--primary-color);
}


/* ----------- Navbar Mobile Styling ----------- */
.mobile-nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 20px;
}


.mobile-menu-btn {
    display: inline-block;
    background: none;
    border: none;
    cursor: pointer;
    padding: 10px;
}

.mobile-menu-button:focus {
    outline: none;
}

.menu-bar {
    display: block;
    width: 25px;
    height: 2px;
    margin: 5px auto;
    transition: all 0.3s ease-in-out;
    background-color: var(--Color-gray-25);
}

