
.navbar {
    z-index: 1000;
    position: fixed;
    top: 0;
    /*position: absolute;*/
    height: 80px;
    width: 100%;
    padding: var(--horizontal-content-padding);
    display: flex;
    align-items: center;
    justify-content: space-between;
    /*background-color: rgba(0, 0, 0, 0.5);*/
    color: white;
    transition: transform 0.5s ease, background-color 0.5s ease;

    ul {
        display: flex;
        list-style: none;
        gap: 32px;

        .link {
            /*font: var(--sm-font-weight) var(--base-font-size) var(--roboto-font);*/
            text-decoration: none;
            color: #fff;
            padding-bottom: 4px;
            /*border-bottom: 1px solid white;*/
        }
    }
}

.scroll-style {
    background-color: rgba(0, 0, 0, 0.7);
}

/* ---- Hover ---- */
.link:hover {
    color: var(--primary-color);
    border-bottom: 1px solid var(--primary-color);
}

